#assinatura
{
    padding: 6em 0;
 
    article
    {
        background-color: $backgroundColorPrimary; 
        padding: 5em 0 3em;
        text-align: center;
        overflow: hidden;
        transition: .5s background-color ease-in-out;
        @include make-sm-column(18);
        @include make-md-column(6);
        @include make-lg-column(6);

        @include breakpoint(0 $largeDesktop) {
            padding: 3em 0 0;
        }
        
        @include breakpoint($mobile) {
            margin-bottom: 2em;
        }         

        @include breakpoint($allCelular) {
            margin-bottom: 3em;
        } 

        .cabecalho-assinatura
        {
            @include breakpoint($mobile) {
                width: 50%;
                float: left;
            }   
            @include breakpoint($allCelular){
                width: 100%;
                clear: both;
            }
        }   
        
        ul 
        {
            @include breakpoint($mobile) {
                width: 50%;
                float: right;
                margin-bottom: 2em;
            } 

            @include breakpoint($allCelular){
                width: 100%;
                clear: both;
            }            
        }

        .btn-enviar
        {
            margin: 1em auto;
            padding-left: 1.5em;
            padding-right: 1.5em;

            @include breakpoint(0 $largeDesktop) {
                font-size: $fontSizeBase * 2.3;
            } 

            @include breakpoint($mobile) {
                clear: both;
                //width: 300px;
                max-width: 100%;
                float: none;
            }    
            
            @include breakpoint($allCelular) {
                font-size: $fontSizeBase * 2;
            }
            
        }

        .collapse
        {
            @include breakpoint($tabletPortrait) {
                display: block !important;
            }             
        }

        .item-assinatura 
        {
            @include breakpoint(0 $tabletPortrait) {
                clear: both;
            } 
        }

        .btn-info 
        {
            @include breakpoint($tabletPortrait) {
                display: none;
            } 

            display: block;
            background-color: $backgroundColorTerciary;
            color: $backgroundColorPrimary;
            font-size: $fontSizeBase * 1.6;
            line-height: 1em;
            padding: .5em 1.2em;
            margin: 0 auto;

            i 
            {
                margin-left: .5em;
            }

        }

        &.destaque
        {
            background-color: $backgroundColorSecondary;

            @include breakpoint($allCelular) {
                margin-top: 6em;
                padding: 4em 0 2em;
            } 

        }

    }

    header 
    {
        &:before 
        {
            background-color: $terciaryColor;
            content: "";
            display: block;
            height: 2px;
            margin: 0 auto; 
            width: 30%; 
        }
    }    

    h2 
    {
        text-transform: uppercase;
        @include breakpoint(0 $largeDesktop) {
            font-size: $fontSizeBase * 2.8;
            line-height: 1.2em;
        }           
    }

    aside 
    {
        position: relative;
        padding-bottom: 5em;

        @include breakpoint(0 $allCelular) {
            padding-bottom: 2em;
            width: 350px;
            max-width: 100%;
            margin: 0 auto;
        }  

        h4 
        {
            font-size: $fontSizeBase * 6;
            text-transform: uppercase;
            line-height: 1em;
            @extend .reset-margin-padding;

            @include breakpoint(0 $allCelular) {
                font-size: $fontSizeBase * 5.5;
                line-height: 1.2em;
            }  

            span 
            {
                font-size: 50%;
                position: relative;
                top: -20px;
            }

        }

        em 
        {
            font-style: normal;
            font-size: $fontSizeBase * 1.7;
        }

        .badget 
        {
            background-color: $backgroundColorTerciary;
            border-radius: $radius100;
            color: $backgroundColorPrimary;
            display: inline-block;
            font-size: 1.5em;
            line-height: 1em;
            width: 40px;
            height: 37px;
            padding: 10px 0;
            box-sizing: border-box;
            text-align: center;
            margin-top: -8px;
            margin-left: 10px;    
            
            @include breakpoint($mobile) {
                position: absolute;
                left: 20px;
                top: 10px;
                margin-top: 0;               
            }   
            
            @include breakpoint(0 $allCelular) {
                position: relative;
                top: 0;
                left: 0;
                margin-top: -8px;
            }              

        }

    }

    ul 
    {
        list-style: none;
        @extend .reset-margin-padding;

        li 
        {
            list-style: inherit;
            padding: 1em 0;

            p 
            {
                margin: 0 0 1em 0;
            }

            &:after 
            {
                background-color: $quaternaryColor;
                content: "";
                display: block;
                width: 50%;
                height: 2px;
                margin: 0 auto;
            }

        }

    }

    .cbadget 
    {
        ul 
        {
            margin-top: -8px;
        }
    }

}