#aulas
{

    background-color: $backgroundColorSecondary;
    padding: 3em 0 5em;

    @include breakpoint($allCelular) {
        padding: 4em 0;
    }      

    header 
    {
        padding: 2em 0 3em;
        text-align: center;

        @include breakpoint($allCelular) {
            padding-bottom: 1em;
        }   

        h2 
        {
            @extend .reset-margin-padding;
            @include breakpoint($allCelular) {
                font-size: $fontSizeBase * 2.7;
                line-height: 1em;
            } 

        }

    }

    .item-aula
    {
        text-align: center;

        figure 
        {
            img 
            {
                max-width: 100%;
            }
        }

    }

    h3 
    {
        margin: 0 0 .5em 0;
        line-height: 1em;
        @include breakpoint($allCelular) {
            margin-top: 3em;
        }   

    }

    article
    {
        @include make-xs-column(18);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);

        figure 
        {
            @include breakpoint($allCelular) {
                width: 50%;
                float: left;
            }  

            @include breakpoint(0 660px) {
                width: 100%;
            }             
        }

        .txt-artigo
        {
            padding: 0 1em;
            margin-bottom: -1em;
        }

        &.md
        {
            figure 
            {
                @include breakpoint($allCelular) {
                    float: right;
                }  
            }
        }        

    }
}