#footer
{
    padding: 6em 0 4em;
    background-image: url("../img/sandrofooter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%; 

    width: 100%;
    overflow: hidden;//hidden
    position: relative;  
    
    @include breakpoint($mobile) {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
    }    

    @include breakpoint($allCelular) {
        padding-left: 0;
        padding-right: 0;
    }    

    * 
    {
        color: $backgroundColorPrimary;
    }

    p 
    {
        font-weight: $primaryWeight;
    }

    .container
    {
        position: relative;
        @include breakpoint($mobile) {
            padding-bottom: 380px;
        } 
        @include breakpoint($customMedia) {
           padding-bottom: 0;
        }         
    }

    .duvidas 
    {
        @include make-xs-column(8);
        @include make-sm-column(8); 
        @include make-md-column(3);
        @include make-lg-column(4);

        @include breakpoint($customMedia) {
            width: 100%;
            margin-bottom: 3em;
        } 

        h3 
        {
            font-size: $fontSizeBase * 3.2; 
            line-height: 1.2em;
            margin: 0 0 1em 0;
            padding: 0;
        }

        p 
        {
            font-size: $fontSizeBase * 1.9;
            @include breakpoint($largeDesktopMax) {
                font-size: $fontSizeBase * 1.6;
                line-height: 1.4em;
            } 
        }

        .txt-icon 
        {
            overflow: hidden;

            i 
            {
                float: left;
                padding: 0 .5em 0 0;    

                @include breakpoint($largeDesktopMax) {
                    font-size: 0;
                    display: none;
                }  

                @include breakpoint($mobile) {
                    display: block;
                    font-size: 3em;
                }                 

            }

            p 
            {
                float: left;
                @include breakpoint($mobile) {
                    font-size: 1.8em;
                    line-height: 1.6em;
                }                 
            }

        }

    }

    .ft-geral
    {
        @include make-md-column(3);
        @include make-lg-column(3); 

        @include breakpoint($mobile) {
            clear: both;
            width: 33%;
            position: absolute;
            left: 0;
            top: 450px;
        }

        @include breakpoint($customMedia) {
            width: 100%;
            position: relative;
            top: 0;
            margin-bottom: 5em;
        } 

        &.scd
        {
            @include breakpoint($mobile) {
                left: 33%;
            }

            @include breakpoint($customMedia) {
                left: 0;
            } 

        }

        &.thr
        {
            @include breakpoint($mobile) {
                left: initial;
                right: 0;
            }
            @include breakpoint($customMedia) {
                margin-bottom: 3em;
            } 
        }

        h4 
        {
            font-size: $fontSizeBase * 2;
            line-height: 1.2em;
            margin: 0 0 .8em 0;
            padding: 0;

            @include breakpoint($largeDesktopMax) {
                margin: 0;
                height: 60px;
            }  

            @include breakpoint($mobile) {
                height: auto;
                margin: 0 0 1em 0;
            } 

        }

        ul 
        {
            list-style: none;
            margin: 2em 0 0 2em;
            padding: 0;

            @include breakpoint($largeDesktopMax) {
                margin: .5em 0 0 0;
            } 
        }

        li 
        {
            font-size: $fontSizeBase * 1.6;
            margin: 0 0 1em 0;
        }

    }

    .formularioInscricao
    {
        background-color: rgba(0,0,0,.7);
        @include make-xs-column(8);
        @include make-sm-column(8);
        @include make-md-column(6);
        @include make-lg-column(5);

        @include breakpoint($mobile) {
            float: right !important;
        } 

        @include breakpoint($customMedia) {
            width: 100%;
            float: none !important;
        }

        h3 
        {
            font-size: $fontSizeBase * 2.5;
        }

        p 
        {
            font-size: $fontSizeBase * 1.7;
        }

        .inscricao
        {
            background-color: transparent;
            margin-left: 0;  
            width: 100%;         
        }

        fieldset
        {
            padding: 0 0 4em;
            @include breakpoint($largeDesktopMax) {
                padding: 0 0 2em;
            } 
        }

        input 
        {
            color: $fifthColor;
        }

    }

    .ft-bottom
    {
        clear: both;
        text-align: center;

        @include breakpoint($mobile) {
            width: 100%;
            position: absolute;
            bottom: 30px;
        } 

        @include breakpoint($customMedia) {
           position: relative;
           bottom: 0;
           padding-top: 3em;
        } 

        .redes-sociais 
        {
            display: inline-block;
            margin: 0;
            padding: 0;

            li 
            {
                background-color: $backgroundColorPrimary;
                border-radius: $radius100;
                box-sizing: border-box;
                padding: .5em;
                display: inline-block;
                margin: 0 2em;
                width: 30px;
                height: 30px;

                @include breakpoint($customMedia) {
                    margin: 0 1em;
                }                 

                * 
                {
                    color: $fifthColor;
                }

            }

        }

        hr 
        {
            display: block;
            margin: 1em auto;
            padding: 0;
            width: 60%;
            @include breakpoint($customMedia) {
                width: 90%;
            } 
        }

        p 
        {
            font-size: $fontSizeBase * 1.4;
            line-height: 1.8em;
        }

    }

    .madeBy
    {
        float: right;
        text-align: right;
        padding-right: $fontSizeBase * 2;

        @include breakpoint($mobile) {
            position: absolute;
            right: 0;
            bottom: -3em;
        } 

        @include breakpoint($customMedia) {
           position: relative;
           margin-top: 1em;
        } 

        p 
        {
            font-size: $fontSizeBase * 1.4;
            margin-bottom: 0;
        }

    }

}