html, body
{ 
    font-family: $primaryFont;
    font-size: $fontSizeBase !important;
    font-weight: $primaryWeight;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {

    color: $terciaryColor;
    font-size: $fontSizeBase;

    h1, h2, h3, h4, h5, h6 
    {
        font-family: $secondaryFont;
        font-weight: $secondaryWeight;
        line-height: 1.5em;
    }

    h2
    {
        color: $terciaryColor;
        font-size: $fontSizeBase * 3.2;
    }

    h3 
    {
        font-size: $fontSizeBase * 2.4;   
    }

    p 
    {
        font-size: $fontSizeBase * 1.7;
        margin: 0 0 1.4em 0;
    }

    a, a:hover, a:focus, a:visited 
    {
        text-decoration: none;
    }

    .container-row
    {
        @include make-row();
    }

    .btn,
    .btn:focus 
    {
        background-color: $bgColorPadrao;
        border: 0 none;
        border-radius: $radiusPadrao;
        color: $terciaryColor;
        font-family: $secondaryFont;
        font-weight: $secondaryWeight; 
        font-size: $fontSizeBtn;  
        text-align: center; 
        line-height: 1em;  
        outline: none;  
    }

    .btn-geral
    {
        @extend .btn;
        color: $backgroundColorPrimary;
        padding: $paddingBtn;
    }

    .btn-enviar,
    .btn-enviar:hover,
    .btn-enviar:focus
    {
        @extend .btn;
        background-color: $primaryColor;
        font-size: $fontSizeBase * 2.7;
        margin: 1em 0 0;
        padding: .5em 2em;
        margin: 0 auto;
        display: table;
        //width: 400px;
        max-width: 100%;

        @include breakpoint($customMedia) {
            font-size: $fontSizeBase * 2;
        }         

    }

    .reset-margin-padding
    {
        margin: 0;
        padding: 0;
    }

    section 
    {
        position: relative;
        overflow: hidden;
    }

}