header#principal
{
    
    padding: 5em 0;
    position: relative;
    overflow: hidden;
    @include make-row($paddingColumn);

    @include breakpoint($smallCelular) {
        //para não quebrar o layout do header conforme versão 768px
        text-align: center;
    }

    .btn-geral
    {
        @include make-sm-column(5);
        @include make-md-column(4);
        @include make-lg-column(3);
        float: right !important;
        margin: 1.1em 0;

        @include breakpoint($smallCelular) {
            display: inline-block;
            float: none !important;
            padding-left: 1.5em;
            padding-right: 1.5em;
        } 

    }

}

#logo
{
    @include make-sm-column(8);
    @include make-md-column(5);
    @include make-lg-column(5);
    line-height: 1em;
    padding: 0;
    margin: 0;

    @include breakpoint($allCelular) {
        float: left; 
    }  

    @include breakpoint($smallCelular) {
        float: none; 
    }      
    
    a 
    {
        display: block;
    }

    svg
    {
        width: 340px;
        height: auto;  
                     
        @include breakpoint($allCelular) {
            width: 280px; 
            max-width: 100%;
        }   
        
    }

}