#home
{
    background-image: url("../img/sandrocover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;

    width: 100%;
    height: 100%;
    overflow: hidden; //hidden
    position: relative;

    @include breakpoint(0 $celularPortrait) {
        height: auto;
        padding-bottom: 5em;
    }

}

.formularioInscricao
{
    overflow: hidden;
    width: 100%;

    @include breakpoint(0 $tabletPortrait) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        float: none;
    }

    @include breakpoint(0 $celularPortrait) {
        position: relative;
    }

    .inscricao
    {
        @include make-sm-column(9);
        @include make-md-column(7);
        @include make-lg-column(6);
        background-color: rgba(0,0,0,.7);
        float: right !important;

        @include breakpoint(0 $tabletPortrait) {
            width: 100%;
        }

        @include breakpoint(0 $celularPortrait) {
            padding: 0;
        }
    }

    fieldset
    {
        padding: 0;
        border: 0 none;
        padding: 0 2em 4em;

        @include breakpoint(0 $tabletPortrait) {
            padding: 0 1em 4em;
        }        
    }

    .box-form 
    { 
        @include breakpoint(0 $tabletPortrait) {
           @include make-sm-column(9);
           @include make-md-column(9);
        }           

        @include breakpoint(0 $tabletPortrait) {
           padding-left: 0;
           padding-right: 0;
        }         
    }

    h3 
    {
        color: $backgroundColorPrimary;
        font-family: $secondaryFont;
        font-weight: $secondaryWeight;
        font-size: $fontSizeBase * 3;
        line-height: 1em;

        @include breakpoint(0 $tabletPortrait) {
            font-size: $fontSizeBase * 2.8;
        }    

        @include breakpoint(0 $celularPortrait) {
            font-size: $fontSizeBase * 2.4;
        }         

    }

    strong
    {
        color: $primaryColor;
    }

    p 
    {
        color: $backgroundColorPrimary;
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 1.7;
        line-height: 1.2em;
        margin: 0 0 .5em 0;
    }

    label 
    {
        display: block;
        margin: 3em 0;
    }

    input
    {
        border: 0;
        color: $fifthColor;
        width: 100%;
        outline: none;

        &:focus
        {
            outline: none;
        }

        &[type=text], &[type=email]
        {
            font-size: $fontSizeBase * 1.5;
            font-family: $secondaryFont;
            font-weight: $secondaryWeight;
            line-height: 1em;            
            padding: .8em;
        } 

        &.btn-enviar
        {
            @include breakpoint(max-width $largeDesktop) {
                width: 300px;
                max-width: 100%;
                margin: 0 auto;
                float: none;
            }      
            
            @include breakpoint(max-width $tabletPortrait) {
                width: 100%;
            }                

        }

    }

}