#metodologia
{

    padding: 6em 0;

    @include breakpoint(0 $allDesktop) {
        padding: 3.5em 0;
    }

    .container-row
    {
        padding: 0 0 8em;

        @include breakpoint(0 $allDesktop) {
            padding: 0;
        }        

        &.metodosLista
        {
            padding: 0;
        }        
    }

    aside.img-midia-tablet
    {
        display: none;

        @include breakpoint(0 $allDesktop) {
            display: block;
            margin: 5em 0 6em;
        }

        article.midia 
        {
            padding: 0;
        }
    }

    article
    {
        @include make-md-column(8); 
        @include make-lg-column(8);

         &.midia
         {
            @include make-md-column(10);
            @include make-lg-column(10);

            @include breakpoint(0 $allDesktop) {
                padding: 4em 0 0;
            }
         }

    }

    .aula-metodologia 
    {
        .midia
        {
            @include breakpoint(0 $allDesktop) {
                display: none;
            }            
        }
    }

    h2 
    {
        color: $terciaryColor;
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 3;
        line-height: 1em;
        margin: .5em 0;
    }

    p 
    {
        color: $terciaryColor;
        font-size: $fontSizeBase * 1.7;
        line-height: 1.5em;
    }
}

#metodos
{

    margin: 0;
    padding: 0;
    @include make-row();

    li 
    {
        @include make-sm-column(9);
        @include make-md-column(6);
        @include make-lg-column(6);
        list-style: none;
        height: 70px;
        margin-bottom: $paddingColumn * 3;
    }

    .icon 
    {
        float: left;
        padding-top: .8em;
        padding-right: $paddingColumn;
    }

    h3 
    {
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 2.4;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
    }

}