#metodologia
{

    padding: 6em 0;

    @include breakpoint(0 $allDesktop) {
        padding: 4em 0 6em;
    }

    @include breakpoint(0 $celularPortrait) {
        padding: 3em 0;
    }    

    .container-row
    {
        padding: 0 0 8em;      

        @include breakpoint(0 $allDesktop) {
            padding: 0;
        }          

        &.metodosLista
        {
            padding: 0;

            @include breakpoint(0 $allDesktop) {
                padding-top: 5em;
            }  

            @include breakpoint(0 660px) {
               padding: 2em 1em;
            } 

        }        
    }

    aside.img-midia-tablet
    {
        display: none;

        @include breakpoint(0 $allDesktop) {
            display: block;
            margin: 5em 0 6em;
        }

        @include breakpoint(0 $celularPortrait) {
            margin: 3em 0 4em
        }

        article.midia 
        {
            padding: 0;
        }
    }

    article
    {
        @include make-md-column(8); 
        @include make-lg-column(8);

         &.midia
         {
            @include make-md-column(10);
            @include make-lg-column(10);

            @include breakpoint(0 $allDesktop) {
                padding: 4em 0 0;
            }
         }

    }

    .aula-metodologia 
    {
        .midia
        {
            @include breakpoint(0 $allDesktop) {
                display: none;
            }            
        }
    }

    h2 
    {
        color: $terciaryColor;
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 3;
        line-height: 1em;
        margin: .5em 0;

        @include breakpoint(0 $celularPortrait) {
            font-size: $fontSizeBase * 2.6;
        }         

    }

    p 
    {
        color: $terciaryColor;
        font-size: $fontSizeBase * 1.7;
        line-height: 1.5em;
    }
}

#metodos
{

    margin: 0;
    padding: 0;
    @include make-row();

    li 
    {
        @include make-xs-column(9);
        @include make-sm-column(9);
        @include make-md-column(6);
        @include make-lg-column(6);
        list-style: none;
        height: 70px;
        margin-bottom: $paddingColumn * 3;
        
        @include breakpoint(0 660px) {
            width: 100%;
        }

        svg,
        image 
        {
            width: 55px;
            height: auto;

            @include breakpoint(0 660px) {
                width: 50px;
            }

        }  

    }

    .icon 
    {
        float: left;
        padding-top: .8em;
        padding-right: $paddingColumn;
    }

    h3 
    {
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 2.4;
        line-height: 1.2em;
        margin: 0;
        padding: 0;

        @include breakpoint(0 660px) {
            font-size: $fontSizeBase * 2.1;
            line-height: 1em;
            margin: 0 0 .5em 0;
        } 

    }

}