#metodologia
{

    padding: 6.5em 0 9em;

    @include breakpoint($mobile) {
        padding: 8.7em 0 8em;
    }

    @include breakpoint($smallCelular) {
        padding: 5em 0;
    }    

    .btn-enviar 
    {
        width: 400px;
        max-width: 100%;

        @include breakpoint($largeDesktopMax) {
            margin-top: 1em;
        }    

        @include breakpoint($mobile) {
            font-size: 25px;
            margin-top: 0;
            width: 340px;
        } 
        
        @include breakpoint($smallCelular) {
            font-size: 22px;
            width: 100%;  
        }                 
         
    }

    .container-row
    {
        padding: 0 0 10em;      

        @include breakpoint($mobile) {
            padding: 0 1em;
        }          

        &.metodosLista
        {
            padding: 0 1em;

            @include breakpoint($mobile) {
                padding-top: 5em;
            }  

            @include breakpoint($allCelular) {
                padding: 50px 50px 0;
            }    

            @include breakpoint($smallCelular) {
               padding: 40px 30px 0;
            }            

        }        
    }

    aside.img-midia-tablet
    {
        display: none;
        overflow: hidden;

        @include breakpoint($mobile) {
            display: block;
            margin: 2em 0 7em;
        }

        @include breakpoint($smallCelular) {
            margin: 4em 0 5em;
        }

        article.midia 
        {
            padding: 0;
        }
    }

    .ft-row 
    {

        article 
        {
            width: 41.6%;
            float: left;

            @include breakpoint($mobile) {
                width: 100%;
            }  

            @include breakpoint($allCelular) {
                margin: 0 40px;
                width: auto;
            }              

            @include breakpoint($smallCelular) {
               margin: 0 20px;
            }        

            &.midia
            {
                width: 53.36%;
                float: right;

                @include breakpoint($mobile) {
                    margin: 60px auto 90px;
                    width: 100%;
                }

                @include breakpoint($allCelular) {
                    padding: 0 40px;
                    max-width: 100%;
                }   

                @include breakpoint($smallCelular) {
                    padding: 0 20px;
                    margin: 10px auto 20px;
                }                  

            }
        }

    }

    .sc-row 
    {
        article 
        {
            width: 41.6%;
            float: right;

            @include breakpoint($mobile) {
                width: 100%;
            }              

            @include breakpoint($allCelular) {
                margin: 0 40px;
                width: auto;
            }  

            @include breakpoint($smallCelular) {
                margin: 0 20px;
            }      

            &.midia
            {
                width: 53.36%;
                float: left;
                
                @include breakpoint($mobile) {
                    display: none;
                }

                @include breakpoint($allCelular) {
                    padding: 0 40px;
                    max-width: 100%;
                    margin: 90px auto;
                }                 

                @include breakpoint($smallCelular) {
                    padding: 0 20px;
                }   

            }
        }
    }

    h2 
    {
        color: $terciaryColor;
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 3;
        line-height: 1em;
        margin: .5em 0 1.2em;


        @include breakpoint($largeDesktopMax) {
            margin-top: 0;
        }   

        @include breakpoint($mobile) {
            margin-bottom: 1.2em;
        }
    
        @include breakpoint($smallCelular) {
            font-size: $fontSizeBase * 2.6;
        }         

    }

    p 
    {
        color: $terciaryColor;
        font-size: $fontSizeBase * 1.7;
        line-height: 1.5em;

        @include breakpoint($mobile) {
            margin-bottom: 1em;
        }           

    }
}

#metodos
{

    margin: 0;
    padding: 0;
    @include make-row();

    li 
    {
        @include make-xs-column(9);
        @include make-sm-column(9);
        @include make-md-column(6);
        @include make-lg-column(6);
        list-style: none;
        height: 75px;
        margin-bottom: 6em;
        
        @include breakpoint($mobile) {
            margin-bottom: 4em;
        }

        @include breakpoint($customMedia) {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        svg,
        image 
        {
            width: 55px;
            height: auto;

            @include breakpoint($customMedia) {
                width: 50px;
            }

        }  

    }

    .icon 
    {
        float: left;
        padding-top: 0;
        padding-right: $paddingColumn;
    }

    h3 
    {
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 2.4;
        line-height: 1.2em;
        margin: 0;
        padding: 0;

        @include breakpoint($mobile) {
            font-size: $fontSizeBase * 2.1;
        }  

        @include breakpoint($customMedia) {
            margin: 0 0 .5em 0;
        } 

    }

}