//Cores
$primaryColor: #efc913; 
$secondaryFont: #ccc;

//Fontes
$primaryFont: "cardea-lining","Georgia","Times New Roman",serif;
$secondaryFont: "mr-eaves-xl-sans","Arial Black", Gadget, sans-serif;
$primaryWeight: 400;
$secondaryWeight: 700; //cardea bold e mr-eaves

//Media Queries
$smallCelular: 0 480px;
$largCelular: 481 767px;
$allCelular: 0 767px;

$tablet: 768px 991px;
$mobile: 0 991px;

$smallDesktop: 992px 1199px;
$largeDesktop: 1200px;
$allDesktop: 992px;