//Background Colors
$backgroundColorPrimary: #fff;
$backgroundColorSecondary: #ebebeb;
$backgroundColorTerciary: #e03626;

//Cores
$primaryColor: #efc913; 
$secondaryColor: #ccc;  
$terciaryColor: #303030; 
$quaternaryColor: #d3d3d3; 
$fifthColor : #111; 

//Fontes
$primaryFont: "cardea-lining","Georgia","Times New Roman",serif;
$secondaryFont: "mr-eaves-xl-sans","Arial Black", Gadget, sans-serif;
$weightThin: 200;
$weightLight: 300;
$primaryWeight: 400;
$secondaryWeight: 700; //cardea bold + mr-eaves 
$terciaryWeight: 500;
$fontSizeBase: 10px;
$fontSizeBtn: 20px;

//Botoes
$bgColorPadrao: #57575c; 
$radiusPadrao  : 8px;
$radius100: 100%;
$paddingBtn: 15px 35px;  

//Grids
$new-columns: 18;
//$new-gutter-width: $grid-gutter-width / 2;   

//$grid-columns: $new-columns;
//$grid-gutter-width: $new-gutter-width;

//Medidas
$paddingColumn: $grid-gutter-width; 

//Media Queries
$largeDesktop: 1200px;
$smallDesktop: 992px 1199px;
$largeDesktopMax: 0 1199px;

$allDesktop: 992px;
$tablet: 768px 991px;
$mobile: 0 991px;

$tabletPortrait: 768px;
$largCelular: 481 767px;
$allCelular: 0 767px;

$customMedia: 0 660px;
$smallCelular: 0 480px; 